<div class="container">

<h1>Edit park</h1>

<%= bootstrap_form_for(@edit_park, method: "put", layout: :horizontal, inline_errors: true) do |f|%>

  <%= f.text_field :name , label:'Park name', placeholder:'Enter park name', control_col: 'col-md-4'%>
  <%= f.text_field :description, control_col: 'col-md-4'%>
  <%= f.text_field :photo, icon:"user", control_col: 'col-md-4'%>
  <%= f.primary "Submit"%>

<% end %>
</div>
